
body{
    display: flex;
    background-color: black;
    justify-content: center;
    
    
}

section{
    background-color: aliceblue;
    height: 400px;
    width: 350px;
    margin: 20% 0;

}

.conta input{
    height: 50px;
    width: 280px;
    margin: 10px 0 10px 20px;
    font-size: 30px;
    cursor: auto;
    
}

.botao{
    display: flex;
    flex-direction: row-reverse;
}

.operadores{
    display: flex;
    flex-direction: column;
    margin: 20px 5px 0 0;
   
}

.itens_operadores{
    height: 55px;
    width: 55px;
    margin: 5px 5px 0 0 ;
    font-size: 30px;
}
.numeros{
    margin: 10px 0 0 20px ;
    width: 300px;
}
.itens_num{
    height: 60px;
    width: 60px;
    font-size: 30px;
    margin: 10px 0;
}

.apagar{
    height: 55px;
    width: 190px;
    font-size: 25px;
}

